---
const { title } = Astro.props;
const { address } = Astro.props;
const { date_time } = Astro.props;
const { img } = Astro.props;
import "../styles/style.css";
import Button from "./button.astro";
const data = await fetch(
  "https://ksreqhsmdxayccugiwmb.supabase.co/rest/v1/swingby",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzcmVxaHNtZHhheWNjdWdpd21iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM4MTk3MzAsImV4cCI6MjA0OTM5NTczMH0.PokJ8dTqtkRlPRLfB1cdL0grpnmsr5hdCpBQzVDHSJc",
    },
  }
).then((res) => res.json());

console.log(data);
---

<!-- <div class="card">
  {
    data.map((events) => (
      <div class={events.slug}>
        <div class="container">
          <h4>{events.title}</h4>
          <p>{events.address}</p>
          <p>{events.opening_hours}</p>
          <a href={`events/${events.title}`}>
            <img src={events.img} alt={events.title} />
          </a>
        </div>
        <Button variant="lilla_btn">More Info</Button>
      </div>
    ))
  }
</div> -->
<div class="card">
  {
    data.map((events) => (
      <div class="container">
        {/* <img src={events.img} alt="" /> */}
        <div class="tekst">
          <h4>{events.title}</h4>
          <p>{events.address}</p>
          <p>{events.date_time}</p>
        </div>
        <Button variant="lilla_btn">More Info</Button>
      </div>
    ))
  }
</div>

<style>
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 400px;
    height: 400px;
    /* background-image: url("imgs/oel1_deal.webp");
    background-size: cover; */
    border-radius: 30px;
    margin: 2rem;
  }

  .container {
    min-height: 100px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    align-self: flex-end;
  }

  .tilbud {
    padding-top: 2rem;
    justify-self: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-family: switzer;
    color: white;
  }

  .tekst {
    font-family: switzer;
    color: white;
  }
  h4 {
    font-size: 26px;
  }

  p {
    font-size: 16px;
  }

  @media screen and (min-width: 800px) {
    img {
      max-width: 100%;
      /* position: relative; */
    }
    .card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      width: 400px;
      height: 400px;
      /* background-image: url("imgs/oel1_deal.webp");
      background-size: cover; */
      border-radius: 30px;
    }

    .container {
      min-height: 100px;
      /* grid-column: 1 / 3;
      grid-row: 2 / 3; */
      padding: 1rem;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      align-self: flex-end;
    }

    .tilbud {
      padding-top: 2rem;
      justify-self: center;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      font-family: switzer;
      color: white;
    }

    .tekst {
      font-family: switzer;
      color: white;
    }

    h4 {
      font-size: 26px;
    }

    p {
      font-size: 16px;
    }
  }
</style>
